
@{
    ViewBag.Title = "Web Telemetry System «WebSphere»";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="col-md-12">
    <div class="content">
        <h2 class="title-block">Контакты</h2>
        <img width="50%" alt="PH1_5909-Pano-Edit.jpg" src="~/Content/_Img/logo.png" style="float:right; margin-left:15px;">
        <p style="color: #484848;">
            <strong>Телефон:</strong>&nbsp;+7 (347) 226-96-36, 226-96-37, 226-96-38
        </p>
        <p style="color: #484848;">
            <strong>Факс:</strong>&nbsp;+7 (347) 226-96-39
        </p>
        <p style="color: #484848;">
            <strong><strong>Электронная почта:&nbsp;</strong><a href="mailto:ea@eksiton.ru">ea@eksiton.ru</a></strong>
        </p>
        <p style="color: #484848;">
            <strong>Почтовый адрес:</strong>
        </p>
        <p style="color: #484848;">
            450006, Республика Башкортостан,&nbsp;г. Уфа, а/я 162
        </p>
        <p style="color: #484848;"> 
        </p>
        <p style="color: #484848;">
            <strong>Фактический адрес:</strong>
        </p>
        <p style="color: #484848;">
            450059, Республика Башкортостан,&nbsp;г. Уфа, ул. Комсомольская, д. 98
        </p>

        <p style="color: #484848;">
            <strong>Техподдержка:</strong>
        </p>
        <p style="color: #484848;">
            Инженер-программист, Марков Станислав Леонтьевич,&nbsp;+7 917 782-72-41 <a href="mailto:xupypr92@gmail.com">xupypr92@gmail.com</a>
        </p>
    </div>
</div>
